:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc800;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #ffc800;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc800;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 255, 200, 0;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 200, 0;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}
  

/* ----------------------- 
        Global CSS 
--------------------------*/

*,*::after,*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
:active,:hover,:focus{
        outline: 0 !important;
        outline-offset: 0;
}
    
a,a:hover{
        text-decoration: none;
}

a:hover{
        color: var(--primary-color) !important;
}

ul,ol{
        margin: 0;
        padding: 0;
}
    
html{
        scroll-behavior: smooth;
}

    


/* Styling Navigation */
.nav-link{
    margin:0 .5rem;
}
.nav-link:active,.nav-link:focus,.nav-link:hover{
    color:var(--bs-yellow) !important;
}

.navbar-brand img{    
    height:1.5rem;
    
}

#navigation{
    background-color: black;
}

/* Masthead Styling */
.masthead {
    background: url("/assets/img/header-bg.jpg") no-repeat center ; 
    height:120vh;    
    width: 100vw;
    max-width: 100%;
    background-size: cover;
    color: #fff;
    text-align: center;    
}
.masthead .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 0rem;    
    position: relative;
    height: 100vh;
    width: 100vw;
}
.masthead-subheading{
    font-size:2.5rem;
    font-weight:500;
    font-style: italic;
    font-family: "Roboto Slab";
    
}

.masthead-heading{
    font-size:4.5rem;
    font-weight:700;
    font-family: "Montserrat";
    line-height:4.5rem;
    margin-top: 2rem;
}

.btn-xl{
    background-color: var(--bs-yellow);
    border: none;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: "Montserrat";
    padding: 1.25rem 2.5rem;
    margin-top:4rem;

}

/* Page section */
.page-section {
    padding:6rem 0;
}

.section-heading{
    font-size:2.5rem;
}

.section-subheading{
   
    font-weight:400;
    font-family: "Roboto";
}

#services {
    overflow: hidden;
}
#services .container{
    padding:2rem 0;
    /* overflow: hidden; */
}

.fa-stack{
    color: var(--bs-yellow);
   
}

#portfolio{
    padding-top:5rem;
}

.card{
    border: none;
    /* background-color:violet; */
}
 

.about-section{
    margin-top:2vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    align-items:center;
}

.center-line{
    background-color:#A8A8A8;
    position: absolute;
    height:100%;
    width:4px;
    left:50%;
    transform:translateX(-50%);
    /* z-index: 999; */
}

.simple-card{
    display: flex;
    flex-direction: row;

}
.timeline-panel{
    background-color:yellowgreen;
}
.timeline-image{
    background-color:red;
    /* height: 500px; */
    width: 100%;
    justify-content:center;
    align-items:center;
    display: flex; 
    /* float: right; */
}
#team{
    background-color:orange;
    
    /* width: 100vw; */
}
.custom-center{
    text-align: center;
    display: inline-flex;
}
.custom-card {
    /* background-color:red; */
    border:none;
    border-radius: 0px;
}

.dummy{
    height:200px;
    background-color:red;
}

.img-responsive{
    height: 3rem;    
    margin: 2rem;
}

.contact-section{
    background: url("/assets/img/map-image.png") no-repeat center !important;
    background-size:cover;    
}

.form-group input{
    height: 3rem;
    border-radius: 5px;
    margin:1rem 2rem;
}

.form-group textarea{
    /* height: 10rem; */
    border-radius: 5px;
    margin: 0 2rem;
    height:40vh;

}

::placeholder{
    font-size: 1rem;
    font-family: sans-serif;
    color: lightgray;
    font-weight: 700;
    padding-left: 20px;
  }
  